/*==========RESET==========*/
body {font-family: 'Roboto', sans-serif;}
.row {margin: 0;}
p, a {font-size: 16px;}
li {list-style: none;}
/*==========BARRA DE NAVEGAÇÃO==========*/
header, .navbar {background-image: url(../imagens/topo.png); background-color: #609e1c; padding: 2px 29px;}
#logo {width: 190px; height: 140px;}
.navbar-brand:hover {opacity: .5;}
.navbar-nav {background-color: #008000; border-radius: 10px;}
.navbar-nav a {color: #fff; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;}
.navbar-expand-md .navbar-nav .nav-link {padding: 1rem 1.3rem;}
.navbar-expand-md .navbar-nav .nav-link:hover {background-color: #32cd28; color: #444;}
/*==========CAROUSEL==========*/
.container-fluid {padding: 5px 145px; background-color: #333333;}
#main-slider img {width: 1282px; height: 350px; padding: 5px; border: 5px solid #fff;}
/*==========ADOÇÃO (CARDS)==========*/
#adocao {padding: 5px;}
.titulo {color: black; font-size: 2em; font-weight: bold; text-align: center; text-transform: uppercase;
border-bottom: 3px dotted #ccc; padding: 5px; padding-bottom: 15px; margin-bottom: 20px;}
#adocao .col-12 p {color: black; padding: 5px; text-align: left;}
#adocao .col-md-3 .card {padding: 5px; width: 105%;}
#adocao .col-md-3 .card img:hover {opacity: .6;}
#adocao .col-md-3 .card .card-title {font-size: 1.3em; font-weight: bold; text-align: center; text-transform: uppercase;
margin-top: 10px;}
#adocao .col-md-3 .card .card-body {padding: 0; text-align: center;}
#adocao .col-md-3 .card .card-body a {color: #fff; padding: 10px 30px; border-radius: 10px;}
/*==========VÍDEOS==========*/
#videos {background-color: #F2F1EC;}
#videos video, #videos iframe {min-height: 180px; background: #000; border: 5px solid #111;}
#videos .col-md-3 {margin: -10px;}
#videos .col-md-3 h2 {color: #555; font-size: 1.3em; font-weight: bold; text-align: center; text-transform: uppercase;}
.audio {color: red; margin-left: 5px;}
/*==========FALE CONOSCO==========*/
#fale-conosco .col-md-6 img {width: 30px; height: 30px; margin-left: -30px; margin-right: 10px; float: left;}
#fale-conosco .col-md-6 img:hover {opacity: .6;}
#fale-conosco .col-md-6 ul li:not(:last-child) {border-bottom: 1px solid #ccc;}
#fale-conosco .col-md-6 li address, #fale-conosco .col-md-6 li p {line-height: 30px; font-style: italic;}
#fale-conosco .col-md-6 li p {margin-top: 15px;}
#fale-conosco .col-md-6 li a {text-decoration: none; line-height: 30px; color: #444; font-style: italic;}
#fale-conosco .col-md-6 li a:hover {opacity: .5;}
#fale-conosco .col-md-6 li:nth-child(3) {margin-top: 15px;}
#fale-conosco .col-md-6 iframe {width: 100%; height: 180px;}
#fale-conosco .col-md-6 .form-group{
    text-align: center          /*Centraliza botão*/
}
#fale-conosco .col-md-6 .form-group input {margin: 10px 10px 10px 5px; padding: 15px; background: #e9e9e9; 
border: 1px solid #ddd; text-align: left; height: 50px;}
#fale-conosco .col-md-6 .form-group textarea {margin: 10px 10px 10px 5px; margin-bottom: 20px; background: #e9e9e9; 
border: 1px solid #ddd;}
#fale-conosco .col-md-6 .form-group a {padding: 15px 50px; border-radius: 10px; height: 50px; line-height: 20px; margin-left: 25px;}
/*==========FOOTER==========*/
footer {text-align: center; background-color: #333; color: #ccc; padding: 5px 0 30px;}
footer span {font-size: 0.9em; font-weight: bold;}
footer p {font-size: 0.8em;}
footer .imagens-footer a + a {margin-left: 50px;}
footer .imagens-footer a:hover {opacity: .6;}
/*==========MEDIA QUERIES==========*/
@media (max-width: 576px){
    /*BARRA DE NAVEGAÇÃO*/
    header, .navbar {padding: 0;}
    #logo {width: 150px; height: auto;}
    #nav-container nav button {background-color: #008000;}
    /*CAROUSEL*/
    .container-fluid {padding: 5px;}
    #main-slider img {width: auto; height: 215px;}
    /*ADOÇÃO (CARDS)*/
    #adocao {padding: 0;}
    .titulo {font-size: 1.5em;}
    /*VÍDEOS*/
    .col-md-3 {text-align: center;}
    .col-md-3 h2 {margin-top: 10px;}
    /*FALE CONOSCO*/
    .col-md-6 .titulo {margin-top: 10px;}
}
@media (min-width: 577px) and (max-width: 767px) { 
    /*BARRA DE NAVEGAÇÃO*/
    header, .navbar {padding: 0;}
    #logo {width: 150px; height: auto;}
    #nav-container nav button {background-color: #008000;}
    /*CAROUSEL*/
    .container-fluid {padding: 5px;}
     /*ADOÇÃO (CARDS)*/
     .col-md-3 .card .card-body p {font-size: 15px;}
    /*VÍDEOS*/
    #videos video, #videos iframe {width: 100%;}
    #videos .col-md-3 {text-align: center;}
    .col-md-3 h2 {margin-top: 15px;}
    /*FALE CONOSCO*/
    .col-md-6 .titulo {margin-top: 10px;}
 }






